.main_chat
  .main_header
    .main_header__left
      .main_header__left__group_name グループ名
      %ul.main_header__left__group_list 
        Member：
        %li.main_header__left__group_list__member woody
    = link_to "#", class: "new__btn" do
      .main_header__new_btn Edit
  
  .messages
    .message
      .message__info
        %p.message__info__name woody
        %p.message__info__date 2020/3/5
      %p.message__text おはようございます
      .message__info
        %p.message__info__name izumi
        %p.message__info__date 2020/3/6
      %p.message__text こんばんは
  
  .chat_main__message_form
    %form.message.new
      .input_box
        %input{type: "text", class: "input_box__text", placeholder: "type a message"}
        %label{class: "input_box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input_box__image__file"}
      .input{type: "submit", class: "submit_btn"} SEND

