.chat_side
  .side_header
    .side_header__box
      .side_header__box__user_name morita
      .side_header__box__menu
        = link_to "#", class: "side_header__box__menu__edit" do
          %i.far.fa-edit  
        = link_to "#", class: "side_header__box__menu__cog" do
          %i.fas.fa-cog
  .groups
    .group
      .group__name techcamp
      .group__message まだメッセージがありません

